<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>fem-htmx-proj</title>
    <!-- <link href="css/style.css" rel="stylesheet" /> -->

    <link rel="icon" type="image/svg+xml" href="static/owl.svg" />

    <script src="static/index.js"></script>

    <!-- copied from https://htmx.org/docs/#installing -->
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <span>count <span id="count">{{.Count}}</span></span>
      <button hx-target="#count" hx-post="/count">increment</button>

      <form hx-swap="beforeend" hx-target="#contacts" hx-post="/contacts">
        <label for="name">name: </label>
        <input placeholder="name" id="name" type="text" name="name" value="" />

        <label for="email">email: </label>
        <input
          placeholder="email"
          id="email"
          type="email"
          name="email"
          value=""
        />
        <button type="submit">create</button>
      </form>

      <hr />

      <div id="contacts">
        {{range .Contacts}} {{block "contact" .}}
        <div>name: {{.Name}}email: {{.Email}}</div>
        {{end}} {{end}}
      </div>
    </main>
  </body>
</html>
