<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <!-- <link href="css/style.css" rel="stylesheet" /> -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  </head>
  <body>
    <span id="count"> {{ block "count" . }} Count {{ .Count }} {{ end }} </span>
    <button hx-target="#count" hx-post="/count/">+</button>

    {{ block "contact-form" . }}
    <form>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" />
      <label for="email">Email: </label>
      <input type="email" id="email" email="email" />
    </form>
    {{ end }} {{ block "contacts" . }} {{ range .Contacts }}
    <div>Name: <span>{{ .Name }}</span> Email: <span>{{ .Email }}</span></div>
    {{ end }} {{ end }}
  </body>
</html>
