<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>fem-htmx-proj</title>
    <!-- <link href="css/style.css" rel="stylesheet" /> -->

    <link rel="icon" type="image/svg+xml" href="static/owl.svg" />

    <script src="static/index.js"></script>

    <!-- copied from https://htmx.org/docs/#installing -->
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <p>count <span id="count">{{.Count}}</span></p>
      <button hx-target="#count" hx-post="/count">increment</button>
    </main>
  </body>
</html>
